body {
  background:#fafafa url('../img/bg_itunes.png');
}

#header b {
  color:#666;
}

.item{
  border:1px #ccc solid;
}

.item:hover{
  background:#fff url('../img/play.png') no-repeat right bottom;
}